html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 18px;
	font: inherit;
    vertical-align: baseline;
    font-family: 'Balsamiq Sans', cursive;
}

* {
    box-sizing: border-box;
    max-width: 100%;
    line-height: 1.5;
    font-family: 'Balsamiq Sans', cursive;
}

/* general styles */
header {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid black;
    justify-content: space-evenly;
    padding: 2%;
}

h1 {
    font-size: 300%;
    margin-bottom: 1%;
}

nav {
    font-size: 150%;
    display: flex;
    margin-left: 2%;
}

section {
    border: 1px solid blue;
}

/* header styles */
nav a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-right: 0;
    padding: 0.5% 1%;
}

nav a:last-child {
    border-right: 1px solid black;
}

/* about section styles */
section#about {
    display: flex;
    height: auto;
    justify-content: space-evenly;
}

#about .main-img {
    width: 45%;
}

.main-img img {
    width: 100%;
    
}

#about .bio {
    width: 45%;
    font-size: 140%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.bio h2 {
    font-size: 200%;
}

.bio .projects-button {
    width: 25%;
    height: auto;
    font-size: 110%;
    margin: 5% 0;
}

.bio p {
    font-size: 110%;
}

/* project section styles */
section#projects {
    display: flex;
    flex-flow: row wrap;
    margin: 2% 0;
}

#projects div {
    border: 1px solid red;
}

div.project-container {
    width: 20%;
    display: flex;
    flex-direction: column;
    margin: 2.5%;
}

.project-container .project-img {
    width: 100%;
}

.project-container h3 {
    font-size: 150%;
    margin-top: 4%;
}

.project-img img {
    width: 100%;
    height: auto;
}